name: Code Test

on:
  workflow_call:
    inputs:
      artifact-name:
        type: string
        required: false
        default: ""
      artifact-run-id:
        type: string
        required: false
        default: "build"
      test-all-versions:
        type: boolean
        required: false
        default: false

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      supported-versions: ${{ steps.fetch-versions.outputs.supported-versions }}
      bound-versions: ${{ steps.fetch-versions.outputs.bound-versions }}
    steps:
      - name: Validate Inputs
        id: validation
        run: |
          artifact_name="${{ inputs.artifact-name }}"
          artifact_run_id="${{ inputs.artifact-run-id }}"

          # the artifact-name must accompany a run-id
          if [[ (-n "${{ inputs.artifact-name }}" && -z "${{ inputs.artifact-run-id }}") ||\
                (-z "${{ inputs.artifact-name }}" && -n "${{ inputs.artifact-run-id }}") ]]; then
            echo "::error::Invalid configuration: both `artifact-name` and `artifact-run-id` must be provided together."
            exit 1
          fi

      - name: Fetch Supported Python
        id: fetch-versions
        if: ${{ inputs.test-all-versions }}
        run: |
          versions=$(curl -fsSL https://endoflife.date/api/v1/products/python/ \
                     | jq '[ .result.releases[] | select(.isEol == false) | .label ]')

          echo "supported-versions=$(echo $versions |jq -c '.')"        >> $GITHUB_OUTPUT
          echo "bound-versions=$(echo $versions |jq -c '[.[0],.[-1]]')" >> $GITHUB_OUTPUT

  basic-test:
    needs: setup
    if: ${{ !fromJson(inputs.test-all-versions) }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    name: Basic Testing on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - &checkout-tests
        name: Checkout tests
        uses: actions/checkout@v6

      - &download-build
        name: Download Build Artifacts
        if: ${{ inputs.artifact-name != '' && inputs.artifact-run-id != '' }}
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
          run-id: ${{ inputs.artifact-run-id }}
          path: ./dist
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true

      - &package-installation
        name: Install package
        shell: bash
        run: |
          uv sync --no-dev --group test --no-install-project
          uv pip install -v --no-deps --no-index --find-links=./dist pyDOE
          uvx --with yq tomlq '.project.dependencies.[]' pyproject.toml |xargs uv pip install
          uv pip check

      - &test-run
        name: Run Tests
        run: uv run --no-sync pytest --cov --doctest-modules pyDOE tests

      - &upload-coverage
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

  all-version-testing:
    needs: setup
    if: ${{ fromJson(inputs.test-all-versions) }}
    runs-on: ${{ matrix.os }}
    env:
      UV_PYTHON: ${{ matrix.py-version }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        py-version: ${{ fromJson(needs.setup.outputs.supported-versions) }}
        include:
          - os: windows-latest
            py-version: ${{ fromJson(needs.setup.outputs.bound-versions)[0] }}
          - os: windows-latest
            py-version: ${{ fromJson(needs.setup.outputs.bound-versions)[1] }}
          - os: macos-latest
            py-version: ${{ fromJson(needs.setup.outputs.bound-versions)[0] }}
          - os: macos-latest
            py-version: ${{ fromJson(needs.setup.outputs.bound-versions)[1] }}

    steps:
      - *checkout-tests
      - *download-build

      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true

      - *package-installation
      - *test-run
      - *upload-coverage
