name: Build and Deploy Documentation

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ "master" ]

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        run: pip install uv

      - name: Create virtual environment
        run: uv venv

      - name: Install docs dependencies
        run: uv pip install --group docs

      - name: Build docs
        run: uv run mkdocs build --clean --strict

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/docs
          publish_branch: gh-pages
